<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abraham.loginapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginApp"
        tools:targetApi="31">

        <!-- Actividades principales -->
        <activity android:name="com.abraham.loginapp.views.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.abraham.loginapp.views.Register"
            android:exported="false" />
        <activity android:name="com.abraham.loginapp.views.IntermedioActivity"
            android:exported="false" />

        <!-- Actividades del usuario docente y alumno -->
        <activity android:name="com.abraham.loginapp.views.Docente"
            android:exported="false" />
        <activity android:name="com.abraham.loginapp.views.Alumno"
            android:exported="false" />

        <!-- Actividades funcionales del docente -->
        <activity android:name="com.abraham.loginapp.views.DetalleCursoDocente"
            android:exported="false" />
        <activity android:name="com.abraham.loginapp.views.AsignarTareaActivity"
            android:exported="false" />
        <activity android:name="com.abraham.loginapp.views.VerTareasActivity"
            android:exported="false" />

        <activity android:name="com.abraham.loginapp.views.CalificarActivity"
            android:exported="false" />
        <activity android:name="com.abraham.loginapp.views.TomarAsistenciaActivity"
            android:exported="false" />
        <activity android:name="com.abraham.loginapp.views.AreasDocenteActivity"
            android:exported="false" />

    </application>

</manifest>
